<div class="container my-3">
    <h1>{{dettaglioFatture.cliente.nomeContatto}} {{dettaglioFatture.cliente.cognomeContatto}}</h1>
    <div class="card text-center">
        <div class="card-body">
          <h4 class="card-text">ID:</h4>
          <p class="card-text">{{dettaglioFatture.id}}</p>
          <h4 class="card-text">Data:</h4>
          <p class="card-text">{{dettaglioFatture.data}}</p>
          <h4 class="card-text">Numero:</h4>
          <p class="card-text">{{dettaglioFatture.numero}}</p>
          <h4 class="card-text">Anno:</h4>
          <p class="card-text">{{dettaglioFatture.anno}}</p>
          <h4 class="card-text">Importo:</h4>
          <p class="card-text">{{dettaglioFatture.importo}}</p>
          <h4 class="card-text">Stato:</h4>
          <p class="card-text">{{dettaglioFatture.stato.nome}}</p>
        <div class="card-footer text-muted"></div>
      </div>
</div>
