<div class="container my-3">
    <h1>{{title}}</h1>
    <div class="card text-center">
        <form class="m-3">
            <div class="form-group">
             <input type="text" [(ngModel)]="editClient.ragioneSociale" class="form-control" name="ragioneSociale" placeholder="Ragione Sociale...">
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="editClient.partitaIva" class="form-control" name="partitaIva" placeholder="Partita Iva...">
            </div>
            <div class="form-group">
                <select [(ngModel)]="editClient.tipoCliente" name="tipoCliente" class="form-select">
                    <option selected>Seleziona Tipo Cliente</option>
                    <option *ngFor="let item of tipicliente">{{item}}</option>
                </select>
            </div>
            <div class="form-group">
                <input type="email" [(ngModel)]="editClient.email" class="form-control" name="email" placeholder="Email...">
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="editClient.pec" class="form-control" name="pec" placeholder="Pec...">
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="editClient.telefono" class="form-control" name="telefono" placeholder="Telefono...">
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="editClient.nomeContatto" class="form-control" name="nomeContatto" placeholder="Nome Contatto...">
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="editClient.cognomeContatto" class="form-control" name="cognomeContatto" placeholder="Cognome Contatto...">
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="editClient.telefonoContatto" class="form-control" name="telefonoContatto" placeholder="Telefono Contatto...">
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="editClient.emailContatto" class="form-control" name="emailContatto" placeholder="Email Contatto...">
            </div>
            <h3>Sede Operativa</h3>
            <div class="form-group">
                <input type="text" [(ngModel)]="editClient.indirizzoSedeOperativa.via" class="form-control" name="indirizzoSedeOperativa.via" placeholder="Via Sede Operativa...">
                <input type="text" [(ngModel)]="editClient.indirizzoSedeOperativa.civico" class="form-control" name="indirizzoSedeOperativa.civico" placeholder="Civico...">
                <input type="text" [(ngModel)]="editClient.indirizzoSedeOperativa.cap" class="form-control" name="indirizzoSedeOperativa.cap" placeholder="Cap...">
                <input type="text" [(ngModel)]="editClient.indirizzoSedeOperativa.localita" class="form-control" name="indirizzoSedeOperativa.localita" placeholder="Località...">
                <div class="form-group"></div>
                <select name="indirizzoSedeOperativaProvincia" class="form-select">
                    <option selected>Seleziona Provincia</option>
                    <option *ngFor="let item of province">{{item.nome}}</option>
                </select>
                </div>
                <!-- <button type="button" class="btn btn-warning btn-sm mt-1" [routerLink]="['inserimentoprovcom']">Inserisci Nuovo Comune</button> -->
                <div class="form-group">
                <select [(ngModel)]="editClient.indirizzoSedeOperativa.comune" [ngModelOptions]="{standalone: true}" class="form-select" nome="indirizzoSedeOperativaComuneNome">
                    <option selected>Seleziona Comune</option>
                    <option [ngValue]="item" *ngFor="let item of comuni">{{item.nome}}</option>
                     <!-- <button type="button" class="btn btn-warning btn-sm mt-1" [routerLink]="['inserimentoprovcom']">Inserisci Nuova Provincia</button> -->
                </select>

            </div>
            <h3>Sede Legale</h3>
            <div class="form-group">
                <input type="text" [(ngModel)]="editClient.indirizzoSedeLegale.via" class="form-control" name="indirizzoSedeLegale.via" placeholder="Via Sede Legale...">
                <input type="text" [(ngModel)]="editClient.indirizzoSedeLegale.civico" class="form-control" name="indirizzoSedeLegale.civico" placeholder="Civico...">
                <input type="text" [(ngModel)]="editClient.indirizzoSedeLegale.cap" class="form-control" name="indirizzoSedeLegale.cap" placeholder="Cap...">
                <input type="text" [(ngModel)]="editClient.indirizzoSedeLegale.localita" class="form-control" name="indirizzoSedeLegale.localita" placeholder="Località...">
                <div class="form-group"></div>
                <select name="indirizzoSedeLegaleProvincia" class="form-select">
                    <option selected>Seleziona Provincia</option>
                    <option *ngFor="let item of province">{{item.nome}}</option>
                </select>
            
                <!-- <button type="button" class="btn btn-warning btn-sm mt-1" [routerLink]="['inserimentoprovcom']">Inserisci Nuovo Comune</button> -->
                <div class="form-group"></div>
                <select [(ngModel)]="editClient.indirizzoSedeLegale.comune" [ngModelOptions]="{standalone: true}" class="form-select" nome="indirizzoSedeLegaleComuneNome">
                    <option selected>Seleziona Comune</option>
                    <option [ngValue]="item" *ngFor="let item of comuni">{{item.nome}}</option>
                     <!-- <button type="button" class="btn btn-warning btn-sm mt-1" [routerLink]="['inserimentoprovcom']">Inserisci Nuova Provincia</button> -->
                </select>

                
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="editClient.dataInserimento" class="form-control" name="dataInserimento" placeholder="Data Inserimento...">
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="editClient.dataUltimoContatto" class="form-control" name="dataUltimoContatto" placeholder="Data Ultimo Contatto...">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success form-control" (click)="saveClient()">Salva Cliente<i class="bi bi-send-fill m-3"></i></button>
              </div>
          </form>
      </div>
</div>


